{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {{ object.logo }}
    {{ object.name }}
    {{ object.activity }}
    {{ object.city }}
    {{ object.zipcode }}
    {{ object.address }}
    {{ object.url }}
    {{ object.description }}
{% else %}
    <p>Vous n'êtes pas connecter</p>
    <a href="{% url 'login' %}">Se Connecter</a>
{% endif %}
{% endblock %}