{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% for object in object_list %}
        {{ object.logo }}
        {{ object.name }}
        {{ object.activity }}
        {{ object.city }}
        {{ object.zipcode }}
        {{ object.address }}
        {{ object.url }}
        {{ object.description }}
    {% endfor %}
{% else %}
    <p>Vous n'êtes pas connecter</p>
    <a href="{% url 'login' %}">Se Connecter</a>
{% endif %}
{% endblock %}