{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
	<form method="POST" enctype="multipart/form-data">
		<!-- Security token -->
		{% csrf_token %}

		<!-- Using the formset -->
		{{ form.as_p }}
		
		<input type="submit" value="Modifier">
	</form>
{% else %}
	<p>Vous n'êtes pas connecter</p>
	<a href="{% url 'login' %}">Se Connecter</a>
{% endif %}
{% endblock %}