{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% else %}
	<p>Vous n'êtes pas connecter</p>
	<a href="{% url 'login' %}">Se Connecter</a>
{% endif %}
{% endblock %}