{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% for object in object_list %}
        {{ object.company }}
        {{ object.application_date }}
        {{ object.application_status }}
        {{ object.application_type }}
        {{ object.application_type_sent }}
        {{ object.url_job_offer }}
        {{ object.date_dunning }}
        {{ object.position_sought }}
        {{ object.contact_phone }}
        {{ object.contact_email }}
        {{ object.company_answer }}
    {% endfor %}
{% else %}
    <p>Vous n'êtes pas connecter</p>
    <a href="{% url 'login' %}">Se Connecter</a>
{% endif %}
{% endblock %}